[submodule "godot-cpp"]
	path = extern/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.2
[submodule "godot"]
	path = extern/godot-engine
	url = https://github.com/godotengine/godot
	branch = 4.2
